.HomeworksList-Work_Status_wait {
    background-color: lightblue;
}

.HomeworksList-Work_Status_inProgress {
    background-color: lightgoldenrodyellow;
}

.HomeworksList-Work_Status_accepted {
    background-color: lightseagreen;
}